<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-800 p-10 text-white">
      <h1 class="m-3 text-black font-medium text-2xl " >Created Users</h1>
      <div class="">
        <form action="/create" method="post">
          <input  class="bg-zinc-800 rounded  outline-none outline-white mx-3 " name="userName" type="text  " placeholder="User Name" />
          <input class="bg-zinc-800 rounded  outline-none outline-white mx-3 "  name="email" type="email  " placeholder="Email" />
          <input class="bg-zinc-800 rounded  outline-none outline-white mx-3 "  name="password" type="password  " placeholder="Password"/>
          <input class="bg-zinc-800 rounded  outline-none outline-white mx-3 "  name="currentAge" type="number  "placeholder="Current Age" />
          <input class="bg-blue-800 rounded-md  outline-none text-black w-24  px-1 font-medium mx-3 h-8" type="submit" value="Create User" />
        </form>
      </div>
    </div>
  </body>
</html>
